### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [103]:
# Dependencies and Setup
import pandas as pd

# setting file, reading and storing as a data_frame
input = "Resources/purchase_data.csv"

# importing csv
purchase_data = pd.read_csv(input)

## Player Count

* Display the total number of players

In [104]:
# Uses current df to find unique SN's and save them to player_count_df. Then we find the length of the new df for total players
# This removes all duplicate SN's
player_count = len(purchase_data["SN"].unique())

#Creates total_players df with column "Total Players" with the player count above being the row data
total_players_df = pd.DataFrame({"Total Players": [player_count]})
#Prints df and hides index
total_players_df.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [105]:
# Number of unique items
unique_items = len(purchase_data["Item Name"].unique())
int(unique_items)

# Average price per item
average_price = purchase_data[{"Price"}].mean()
average_price
average_price.reset_index(drop=True, inplace=True)

# Average age
average_age = purchase_data[{"Age"}].mean()
average_age.reset_index(drop=True, inplace=True)

# Most popular item(s)
most_popular = purchase_data["Item Name"].mode()
most_popular

#Table to sotre above info
analysis_df = pd.DataFrame({"Unique Items": unique_items, "Average Price": average_price,
                            "Average Age": average_age, "Most Popular Item": most_popular})
#Set all float values to 2 decimal places
pd.options.display.float_format = "{:,.2f}".format
analysis_df.style.format({'Average Price': "${:.3}", 'Average Age': '{:.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [106]:
# Percentage and Count of Males
males = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_count = len(males["SN"].unique())
male_percentage = (male_count/player_count*100)
male_percentage

females = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_count = len(females["SN"].unique())
female_percentage = (female_count/player_count*100)
female_percentage

other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_count = len(other["SN"].unique())
other_percentage = ((other_count/player_count)*100)
other_percentage

gender_demographic = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],
                                   "Total of Gender": [male_count, female_count, other_count] , 
                                   "Percentage": [male_percentage, female_percentage, other_percentage]})
gender_demographic.style.format({'Percentage': "{:.4}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
# Male, Female, and other gender purchase counts
male_purchase = purchase_data.loc[purchase_data["Gender"] == "Male"]
purchase_count_male = len(male_purchase)

female_purchase = purchase_data.loc[purchase_data["Gender"] == "Female"]
purchase_count_female = len(female_purchase)

other_purchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
purchase_count_other = len(other_purchase)

#Male, Female, and other gender avg. purchase price (Total amount / total products) - PER GENDER
male_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]]
male_avg_purchase = float(male_purchase_price.sum()/purchase_count_male)

female_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]]
female_avg_purchase = float(female_purchase_price.sum()/purchase_count_female)

other_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]]
other_avg_purchase = float(other_purchase_price.sum()/purchase_count_other)
other_avg_purchase

# Male, Female, and Other gender purchase per person "pp"
male_purchase_pp = male_purchase_price.sum() / male_count
female_purchase_pp = female_purchase_price.sum() / female_count
other_purchase_pp = other_purchase_price.sum() / other_count

# Creating dataframe with correct columns and data, will sort and format later
gender_purchase_analysis = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],
                                    "Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other],
                                    "Average Purchase Price": [male_avg_purchase, female_avg_purchase, other_avg_purchase],
                                    "Total Purchase Value": [float(male_purchase_price.sum()), float(female_purchase_price.sum()), float(other_purchase_price.sum())],
                                    "Avg Purchase per Person": [float(male_purchase_pp), float(female_purchase_pp), float(other_purchase_pp)]})
# Sorted by Average purchase price per person.
gender_purchase_analysis = gender_purchase_analysis.sort_values("Gender", ascending=True)
gender_purchase_analysis.style.format({'Average Purchase Price': "${:.2f}".format, 'Total Purchase Value': "${:.2f}".format, "Avg Purchase per Person": "${:.2f}".format })


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [108]:
# Finding max value, min will be 0 for this
purchase_data["Age"].max()
purchase_data["Age"].min()

#Creating bins
bins = [0,9,14,19,24,29,34,39,49]

# Creating labels
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Adding "Age Range Count" to the purchase_data df
purchase_data["Age Range Count"] = pd.cut(purchase_data["Age"], bins = bins, labels=age_groups, include_lowest=True)
purchase_data.head()

# Groupby Age
age_group = purchase_data.groupby("Age Range Count")

# Count players in each age range, not including duplicates
total_count_age = age_group["SN"].nunique()

#Calculation for % of players at the age
age_percentage = (total_count_age / player_count)*100
age_percentage
# Creating data frame with necessary columns
age_demographics_df = pd.DataFrame({"Total Count": total_count_age,
                                    "Percentage of Players": age_percentage})

# Formating df
age_demographics_df.style.format({'Percentage of Players': "{:.2f}%".format})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#Creating bins
bins = [0,9,14,19,24,29,34,39,49]
# Creating labels
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_group = purchase_data.groupby("Age Range Count")

# Adding "Age Range Count" to the purchase_data df
purchase_data["Age Range Count"] = pd.cut(purchase_data["Age"], bins = bins, labels=age_groups, include_lowest=True)

# purchase count
purchase_count = age_group["SN"].count()

# total purchase value
total_purchase_value = age_group["Price"].sum()

# avg. purchase price
avg_purchase_price = total_purchase_value / purchase_count


# avg. purchase total per person
avg_purchase_total_pp = (total_purchase_value / age_group["SN"].nunique())

# Creating data frame to store and format
purchase_analysis_age=  pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                      "Total Purchase Value": total_purchase_value ,
                                      "Avg Total Purchase PP": avg_purchase_total_pp})
purchase_analysis_age.style.format({'Average Purchase Price': "${:.2f}".format,
                                   'Total Purchase Value':"${:.2f}".format,
                                   'Avg Total Purchase PP': "${:.2f}".format})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
#purchase_count "per screen name"(psn)
purchase_count_group =  purchase_data.groupby("SN")
purchase_count_psn = purchase_count_group["SN"].count()

# Total purchase value
total_purchase_psn = purchase_count_group["Price"].sum()

#Average Purchase Price
average_purchase_psn = total_purchase_psn / purchase_count_psn

# Creating df and Formating information
top_spender_analysis =  pd.DataFrame({"Purchase Count": purchase_count_psn,
                                    "Average Purchase Price": average_purchase_psn,
                                      "Total Purchase Value": total_purchase_psn})

# Makes a df to show the top spenders by total purchase value
top_spender_analysis_sorted = top_spender_analysis.sort_values("Total Purchase Value", ascending=False)
top_spender_analysis_sorted.style.format({'Average Purchase Price':"${:.2f}".format,
                                           'Total Purchase Value': "${:.2f}".format})

top_spender_analysis_sorted

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                    1.02                  1.02
Irilis75                  1                    1.02                  1.02
Aidai61                   1                    1.01                  1.01
Chanirra79                1                    1.01                  1.01
Alo38                     1                    1.00                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order

* Sort the below table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [113]:
# Creating a new list to work with
popular_items_list = purchase_data[["Item ID", "Item Name", "Price"]]

# Grouping new list by Item ID and Item Name
popular_items_group = popular_items_list.groupby(["Item ID","Item Name"])


# Purchase count
popular_count = popular_items_group["Price"].count()

# Total Purchase Value
purchase_value = popular_items_group["Price"].sum()

# Average item price
item_value = purchase_value / popular_count

most_popular_items_df = pd.DataFrame({"Purchase Count": popular_count,
                                    "Average Purchase Price": item_value,
                                      "Total Purchase Value": purchase_value})

most_popular_items_sorted = most_popular_items_df.sort_values("Purchase Count", ascending=False)
most_popular_items_sorted.head(50).style.format({'Average Purchase Price':"${:.2f}".format,
                                           'Total Purchase Value': "${:.2f}".format})

By looking at the age and gender demographics presented above, we can tell that our core demographic for in game purchases is Males between the ages of 15-30. Males make up almost 84% of the players meaning this is who should be more heavily targeted when new items and stories are introduced to the game. 76+% of the player base is between the age of 15-30. While the "other/non-disclosed" gender has the highest average price per item sold, the total number of users in this gender is less than 2% and will likely change to be closer to male/female. With this in mind, I think if there are ideas of targeting another demographic than our core demographic, it would be fruitful to target the Females. The two best selling items are "Final Critic" and "Oathbreaker, last hope of breaking the storm". Both of these items are among the most expensive in the game which leads me to believe they either provide a significant power increase or they have aesthetics that the users are willing to exchange money for. There does not necessarily look to be a trend in the price of an item and the amount of that item being purchased. More data to go over based on damage/armor values would aid in finding out if these weapons are too powerful. It might also be a good idea to implement a poll or rating system for the items to help gauge the community’s response when new items are released.